{% extends 'base.html.twig' %}


{% block title %}{{categorys.title}}{% endblock %}

{% block body %}

<div class="example-wrapper">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active" href="app_accueil">Blog
            <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        </ul>
    </div>
    </div>
</nav>

<h1>{{categorys.title}}</h1>

<div class="m-5">
    <p>{{categorys.description}}</p>
    <figcaption class="blockquote-footer">
    Créée le  <cite title="Source Title">{{categorys.createdAt|date("m-d-Y") }}</cite>
    </figcaption>
</div>
<div class= "m-5">
            
            {% for object in categorys.articles %}
        <ul>
            <li><a href="" >{{object.title}}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}