{% extends 'base.html.twig' %}


{% block title %}{{categorys.title}}{% endblock %}

{% block body %}
<h1>{{categorys.title}}</h1>

<div class="m-5">
    <p>{{categorys.description}}</p>
    <figcaption class="blockquote-footer">
    Créée le  <cite title="Source Title">{{categorys.createdAt|date("m-d-Y") }}</cite>
    </figcaption>
</div>
<div class= "m-5">
            
            {% for object in categorys.articles %}
        <ul>
            <li><a href="" >{{object.title}}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}