{% extends 'base.html.twig' %}


{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <h1 class="text-center">Blog</h1>
<div class="d-flex justify-content-center ">
  <div class="card border-primary mb-3" style="width: 20rem;">
    <div class="card-header"><h4>{{articles.title}}</h4></div>
    <div class="card-body">
      <h6>{{articles.createdAt|date("m/d/Y")}}<h6>
    <div><img class="card-image" style=" width: 18rem; height = auto; " src="{{articles.image}}"></div>
    <p>{{articles.contenu}}</p>
    <p>Auteur : {{articles.writeBy.name}}</p>
    <p>Catégorie : {% for element in articles.category %} {{element.title}} {% endfor %} </p>
  </div>
  <a href="{{path('app_accueil')}}" class="btn btn-primary">Retour</a>
</div>

{% endblock %}
